* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    color: #333333;
    /* font: 0.75em/1.5em ; */
    font-family: 'Noto Sans', sans-serif;
}

/* MENU NAVEGACION COMIENZA */

#menu span {
    display: none;
}

.headtop {
    height: auto;
    background-color: #004563;
}

.logo {
    padding-top: 1.5em;
}

#menu,
#menu ul {
    list-style: none outside none;
    margin: 0;
    padding: 12px;
}

#menu {
    background-color: rgb(255, 254, 254);
    border-bottom: 2px solid #333333;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    position: relative;
    width: 100%;
}

#menu>li {
    border-bottom: 5px solid transparent;
    float: left;
    margin-bottom: -10px;
    text-align: left;
    -moz-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

#menu li a {
    display: block;
    text-decoration: none;
    -moz-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -ms-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -o-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -webkit-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    white-space: normal;
}

#menu>li>a {
    margin-top: 1em;
    color: black;
    display: block;
    font-size: 1em;
    line-height: 49px;
    padding: 0 15px;
    text-align: center;
    /* text-transform: uppercase; MAYUSCULAS TEXTO*/
}

#menu>li>a>b {
    margin-top: 1em;
    color: black;
    display: block;
    font-size: 1em;
    line-height: 49px;
    padding: 0 15px;
    /* text-transform: uppercase; MAYUSCULAS TEXTO*/
}


#menu>li:hover>a,
#menu>a:hover {
    color: #267ba0;
}

#menu li.active>a {
    background-color: #333333;
    color: #FFFFFF;
}


/* ACABA MENU NAVEGACIÓN */

/* parallax*/

#wrapper {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
    margin: 0 auto;
    max-width: 1440px;
    width: 100% !important;
}

section {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1100px;
    margin: 0 auto;
    max-width: 1440px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100% !important;
}

#bloque1 {
    background-image: url('../img/infinito.jpg');
}

#bloque2 {
    background-image: url("../img/cala.jpg");
}

#bloque3 {
    background-image: url("../img/puente.jpg");
}

#bloque4 {
    background-image: url("../img/pont.jpg");
}

#bloque5 {
    background-image: url("../img/sky.jpg");
}

h1 {
    background-color: #02223a;
    bottom: 0;
    color: rgba(255, 255, 255, 0.9);
    display: block;
    font-size: 5em;
    font-weight: bold;
    margin-top: 3em;
    opacity: 0.76;
    text-align: center;
    text-shadow: 1px 1px 1px #666;
    text-transform: uppercase;
    width: 100%;
}

h2 {
    color: #fff;
    font-size: 5em;
    font-weight: bold;
    margin-top: 5em;
    opacity: 0.85;
    text-align: center;
    text-shadow: 1px 1px 1px #ccc;
    text-transform: uppercase;
}

#bloque2 p {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    font-size: 1.2em;
    font-weight: normal;
    margin: 7em auto;
    max-width: 800px;
    padding: 1.5em;
}

.form-group {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    color: #212529;
    text-align: left;

}

#validate {
    text-decoration: none;
    padding: 2px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
}

/*Acaba parallax*/

/*Contenido*/

/*beach*/


/* FOOTER*/
.footer-container {
    padding: 0;
    margin: 0;
    background-color: #464655;
}

.footer-text p {
    color: #9099a2;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}


.footer-articles {
    padding-top: 2em;
    padding-bottom: 1em;
    position: centered;
    color: #9099a2;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

.footer-articles h1 {
    font-weight: 600;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

.footer-img {

    display: flex;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.footer-icon {

    display: flex;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.footer-copyright {

    font-weight: 600;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}




/* RESPONSIVE */
/*escritorio*/
@media all and (max-width: 980px) {
    #menu>li {
        padding: 0;
        font-size: 1.3em;
        float: none;
        border-bottom: 0;
        margin-bottom: 0;
        border-bottom: 1px solid #333333;
    }
}

/*tablet vertical*/
@media (max-width: 768px) {



    .bloques {
        width: 90%;

    }

    #bloque2 p {
        background-color: rgba(255, 255, 255, 0.8);
        color: #333;
        font-size: 1.2em;
        font-weight: normal;
        margin: 7em auto;
        max-width: 800px;
        padding: 1.5em;
    }

    #bloque1 {
        background-image: url("../img/infinito-tablet.jpg");
    }

    #bloque2 {
        background-image: url("../img/cala-tablet.jpg");
    }

    #bloque3 {
        background-image: url("../img/puente-tablet.jpg");
    }

    #bloque4 {
        background-image: url("../img/pont-tablet.jpg");
    }

    #bloque5 {
        background-image: url("../img/sky-tablet.jpg");
    }

    h1 {
        background-color: #02223a;
        bottom: 0;
        color: rgba(255, 255, 255, 0.9);
        display: block;
        font-size: 3em;
        font-weight: bold;
        margin-top: 5em;
        opacity: 0.76;
        text-align: center;
        text-shadow: 1px 1px 1px #666;
        text-transform: uppercase;
        width: 100%;
    }


    h2 {
        color: #fff;
        font-size: 5em;
        font-weight: bold;
        margin-top: 5em;
        opacity: 0.85;
        text-align: center;
        text-shadow: 1px 1px 1px #ccc;
        text-transform: uppercase;
    }
}

@media (min-width: 468px) and (max-width: 600px) {


    .logo {
        padding: 0;
    }

    h1 {
        background-color: #02223a;
        bottom: 0;
        color: rgba(255, 255, 255, 0.9);
        display: block;
        font-size: 1.5em;
        font-weight: bold;
        margin-top: 3em;
        opacity: 0.76;
        text-align: center;
        text-shadow: 1px 1px 1px #666;
        text-transform: uppercase;
        width: 40%;
    }

    h2 {
        color: #fff;
        font-size: 2em;
        font-weight: bold;
        margin-top: 3em;
        opacity: 0.85;
        text-align: center;
        text-shadow: 1px 1px 1px #ccc;
        text-transform: uppercase;
    }

    section {
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0 auto;
        overflow: auto;
        padding: 0;
        position: relative;
        width: 100% !important;
    }

    .bloques {
        width: 50%;
        height: auto;

    }

    #bloque1 {
        background-image: url("../img/infinito-mobil.jpg");
    }

    #bloque2 {
        background-image: url("../img/cala-mobil.jpg");
    }

    #bloque3 {
        background-image: url("../img/puente-mobil.jpg");
    }

    #bloque4 {
        background-image: url("../img/pont-mobil.jpg");
    }

    #bloque5 {
        background-image: url("../img/sky-mobil.jpg");
    }

    #bloque2 p {
        background-color: rgba(255, 255, 255, 0.8);
        color: #333;
        font-size: 0.9em;
        font-weight: normal;
        margin: 2em auto;
        padding: 1.5em;
    }
}